
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}


.slider {
    height: 50vh;
    width: 100vw;
    background-color: blue;
    max-width: 100%;
}


footer {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    padding: 1rem;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
}

.content {
    flex: 1;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: black;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.menu-item {
    margin: 0 1rem;
    cursor: pointer;
    color: white;
    transition: opacity 0.3s;
}

.menu-item:hover {
    opacity: 0.9;
}

.menu-item .active-content {
    display: none;
}

.menu-item.active .active-content {
    display: block;
    position: absolute;
    top: calc(100% + 1.2rem);
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.search {
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 20px;
    cursor: pointer;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 80%;
    max-width: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popup-content h2 {
    margin-top: 0;
    font-weight: bold;
    text-align: left;
}

.popup-content button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #f0e68c;
    border: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.basker {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

.basker-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
}
.slider{
    height: 50vh;
    width: 100vw;
    background-color: blue;
}

footer {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    padding: 1rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .content {
    flex: 1;
  }

  .footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }
.menu {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: black;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .menu-item {
    margin: 0 1rem;
    cursor: pointer;
    color: white;
    transition: opacity 0.3s;
  }
  
  .menu-item:hover {
    opacity: 0.9;
  }
  
  .menu-item .active-content {
    display: none;
  }
  
  .menu-item.active .active-content {
    display: block;
    position: absolute;
    top: calc(100% + 1.2rem);
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }



.search {
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 20px;
    cursor: pointer;
}



.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 80%;
    max-width: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popup-content h2 {
    margin-top: 0;
    font-weight: bold;
    text-align: left;
}

.popup-content button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #f0e68c;
    border: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

 .basker {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.basker-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
} 
.contact-container {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    font-weight: normal;
    color: black;
    font-family: "Baskervville", serif;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #cdcdcd;
    font-weight: normal;
}
.form-group textarea {
    resize: none;
    height: 200px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #000000;
    background-color: white;
    color: black;
    outline: none;
}

.form-group select {
    background-color: white;
}

.submit-btn {
    width: 50%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: rgb(46, 46, 46);
}
.practices_container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.practices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.practice {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    position: relative;
}

.practice::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #303030;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.practice:hover {
    transform: scale(1.05);
}

.icon {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.practice:hover .icon {
    transform: rotate(360deg);
}

.title-text {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #333;
}

.description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.read-more {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    display: block;
    margin-top: 10px;
}